<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd">


	<!-- 配置连接池 -->
	<!-- 引入外部资源文件 -->
	<context:property-placeholder location="classpath:jdbc.properties"/>
	
	<!-- 配置c3p0连接池 -->
	<bean id="dataSourse" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driver}"></property>
		<property name="jdbcUrl" value="${jdbc.url}"></property>
		<property name="user" value="${jdbc.user}"></property>
		<property name="password" value="${jdbc.password}"></property>
	</bean>
	
	<!-- hibernate相关信息 -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<!-- 注入连接池 -->
		<property name="dataSource" ref="dataSourse"></property>
		<!-- hibernate基本信息 -->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.connection.autocommit">false</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		<!-- hibernate映射文件 -->
		<property name="mappingResources">
			<list>
				<value>cn/tomato/shop/user/vo/User.hbm.xml</value>
				<value>cn/tomato/shop/category/vo/Category.hbm.xml</value>
				<value>cn\tomato\shop\product\vo\Product.hbm.xml</value>
			</list>
		</property>
	</bean>
	
	
	<!-- 配置spring声明式事务 -->
	<!-- 1.配置hibernate的事务管理器 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- 2.配置事务属性 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="get*" read-only="true"/>
			<tx:method name="*"/>
		</tx:attributes>
	</tx:advice>
	<!-- 3.配置事务切入点，再把事务属性和事务切入点关联起来 -->
	<aop:config>
		<aop:pointcut expression="execution(* cn.tomato.shop.*.service.*.*(..))" id="txPointcut"/>
		<aop:advisor advice-ref="txAdvice" pointcut-ref="txPointcut"/>
	</aop:config>
	
	
	<!-- Action的配置_______________________ -->
	
	<!-- 首页访问的Action -->
	<bean id="indexAction" class="cn.tomato.shop.index.action.IndexAction" scope="prototype">
		<property name="categoryService" ref="categoryService"></property>
		<property name="productService" ref="productService"></property>
	</bean>
	
	<!-- 验证码Action -->
	<bean id="checkImgAction" class="cn.tomato.shop.user.action.CheckImgAction" scope="prototype"></bean>
	
	<!-- 用户操作的Action -->
	<bean id="userAction" class="cn.tomato.shop.user.action.UserAction" scope="prototype">
		<property name="userService" ref="userService"></property>
	</bean>
	
	<!-- 商品Action -->
	<bean id="productAction" class="cn.tomato.shop.product.action.ProductAction" scope="prototype">
		<property name="productService" ref="productService"></property>
	</bean>
	
	<!-- service的配置_________________________ -->
	<bean id="userService" class="cn.tomato.shop.user.service.UserService">
		<property name="userDao" ref="userDao"></property>
	</bean>
	
	<bean id="categoryService" class="cn.tomato.shop.category.service.CategoryService">
		<property name="categoryDao" ref="categoryDao"></property>
	</bean>
	
	<bean id="productService" class="cn.tomato.shop.product.service.ProductService">
		<property name="productDao" ref="productDao"></property>
	</bean>
	
	<!-- Dao的配置________________________ -->
	<bean id="userDao" class="cn.tomato.shop.user.dao.UserDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="categoryDao" class="cn.tomato.shop.category.dao.CategoryDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="productDao" class="cn.tomato.shop.product.dao.ProductDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

</beans>
